<footer class="site-footer">
    <div class="footer">
        <div class="row no-padding">
            <div class="col-md-offset-2 col-md-3">
                <a href="{{ site.github.url }}"><img class="footer-logo img-responsive" src="{{ site.github.url }}/images/logo-cropped.png"></a>
            </div>
            <div class="col-md-3">
                <ul class="text-left weighted center-block list white-ul">
                    <li><a href="{{ site.github.url  }}/day_tours">DAY TOURS</a></li>
                    <li><a href="{{ site.github.url  }}/overnight_tours">OVERNIGHT TOURS</a></li>
                    <li><a href="{{ site.github.url }}/special_interest_tours">SPECIAL INTEREST</a></li>
                    <li><a href="{{ site.github.url }}/terms_and_conditions">TERMS AND CONDITIONS</a></li>
                    <li><a href="{{ site.github.url }}/contact_us">CONTACT US</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <p class="text-center footer-copyright">&copy Cape to Point 2016</p>
            </div>
        </div>
    </div>
</footer>
