<footer class="site-footer">
    <div class="footer">
        <div class="row no-padding">
            <div class="col-md-offset-2 col-md-3">
                <img class="footer-logo img-responsive" src="{{ site.github.url }}/images/logo-cropped.png">
            </div>
            <div class="col-md-2">
                <ul class="text-left weighted center-block list white-ul">
                    <li><a>HOME</a></li>
                    <li><a>DAY TOURS</a></li>
                    <li><a>OVERNIGHT TOURS
                    <li><a>SPECIAL INTEREST</a></li>
                    <li><a>CONTACT US</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p class="text-center footer-copyright">&copy Cape to Point 2016</p>
            </div>
        </div>
    </div>
</footer>
