<footer class="site-footer">
  <div class="">
    <div class="row footer">
      <div class="col-md-offset-3 col-md-3">
        <ul class="text-left center-block list white-ul">
          <li><a>Home</a></li>
          <li><a>Day Tours</a></li>
          <li><a>Overnight Tours</a></li>
          <li><a>Special Interest</a></li>

        </ul>
      </div>
      <div class="col-md-3">
        <ul class="text-left center-block list white-ul">
          <li><a>Your Guide</a></li>
          <li><a>Contact</a></li>
          <li><a>Make Booking</a></li>
          <li><a>Facebook</a></li>
        </ul>
      </div>
    </div>
    <div class="row footer-bottom">
      <p class="text-center white-font no-padding">&copy Cape to Point 2016</p>
    </div>
  </div>
</footer>
