<header class="site-header">
    <div class="container">
        <div class="visible-md-block visible-lg-block row">
            <div class="col-sm-4">
                <a href="{{ site.baseurl }}/"><img class="logo img-responsive" src="{{ site.baseurl }}/images/logo-cropped.png"></a>
            </div>
            <div class="col-sm-8">
              <div class="social-links">
                <a class="book-now" href="https://secure.activitybridge.com/search?supplierid=50904" target="_blank">
                  BOOK NOW
                </a>
                <a href="https://www.instagram.com/capetopoint/" target="_blank">
                  <i class="fa fa-2x fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="https://www.facebook.com/capetopoint/" target="_blank">
                  <i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i>
                </a>
              </div>
              <ul class="nav-links list-inline">
                  <li><a href="{{ site.baseurl }}/day_tours">DAY TOURS</a></li>
                  <li><a href="{{ site.baseurl }}/overnight_tours">OVERNIGHT TOURS</a></li>
                  <li><a href="{{ site.baseurl }}/special_interest_tours">SPECIAL INTEREST</a></li>
                  <li><a href="{{ site.baseurl }}/contact_us">CONTACT US</a></li>
              </ul>
            </div>
        </div>
        <div class="visible-sm-block visible-xs-block">
            <div class="row">
                <div class="col-sm-12">
                    <img class="img-responsive" src="{{ site.baseurl }}/images/logo-cropped.png">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="mobile-social-links">
                      <a class="mobile-book-now" href="https://secure.activitybridge.com/search?supplierid=50904" target="_blank">
                        BOOK NOW
                      </a>
                      <a href="https://www.instagram.com/capetopoint/" target="_blank">
                        <i class="fa fa-2x fa-instagram" aria-hidden="true"></i>
                      </a>
                      <a href="https://www.facebook.com/capetopoint/" target="_blank">
                        <i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i>
                      </a>
                    </div>
                    <ul class="mobi-links list-unstyled">
                        <li><a href="{{ site.baseurl }}/day_tours">DAY TOURS</a></li>
                        <li><a href="{{ site.baseurl }}/overnight_tours">OVERNIGHT TOURS</a></li>
                        <li><a href="{{ site.baseurl }}/special_interest_tours">SPECIAL INTEREST</a></li>
                        <li><a href="{{ site.baseurl }}/contact_us">CONTACT US</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
