<header class="site-header">
    <div class="container">
        <div class="visible-md-block visible-lg-block row">
            <div class="col-sm-4">
                <img class="logo img-responsive" src="{{ site.github.url }}/images/logo-cropped.png">
            </div>
            <div class="col-sm-8">
                <ul class="nav-links list-inline">
                    <li><a href="{{ page.url | prepend: site.github.url }}day_tours.html">DAY TOURS</a></li>
                    <li><a href="{{ page.url | prepend: site.github.url }}overnight_tours.html">OVERNIGHT TOURS</a></li>
                    <li><a href="{{ page.url | prepend: site.github.url }}special_interest_tours.html">SPECIAL INTEREST</a></li>
                    <li><a href="https://docs.google.com/forms/d/1oBiKy6R40LPJrpnAVXPwzexvSjYPaqJZu3ntvObSUhw/viewform">CONTACT</a></li>
                </ul>
            </div>
        </div>
        <div class="visible-sm-block visible-xs-block">
            <div class="row">
                <div class="col-sm-12">
                    <img class="img-responsive" src="{{ site.github.url }}/images/logo-cropped.png">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="mobi-links list-unstyled">
                        <li><a>DAY TOURS</a></li>
                        <li><a>OVERNIGHT TOURS</a></li>
                        <li><a>SPECIAL INTEREST</a></li>
                        <li><a>CONTACT US</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!--<div id="menu" class="navbar navbar-default navbar-static-top" role="navigation">-->
        <!--<div class="container">-->
            <!--<div class="navbar-menubuilder">-->
                <!--<div id="menu-container">-->
                    <!--<ul id="nav-ul" class="nav navbar-nav">-->
                        <!--<li><a href="/">Home</a></li>-->
                        <!--<li class="dropdown">-->
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"-->
                               <!--aria-haspopup="true"-->
                               <!--aria-expanded="false">Day Tours <span class="caret"></span></a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li><a href="{{ page.url | prepend: site.github.url }}stellenbosch_franschhoek_winelands_tour.html">Stellenbosch to Franchhoek Full Day Winelands Tour</a></li>-->
                                <!--<li><a href="{{ page.url | prepend: site.github.url }}cape_peninsula_tour.html">Cape Peninsula Private Selection Day Tour</a></li>-->
                                <!--<li><a href="{{ page.url | prepend: site.github.url }}helderberg_winelands_tour.html">Helderberg Winelands Full Day Tour</a></li>-->
                                <!--<li><a href="{{ page.url | prepend: site.github.url }}ladies_pamper_tour.html">Ladies Full Day Pamper Tour</a></li>-->
                                <!--<li><a href="{{ page.url | prepend: site.github.url }}somerset_west_three_estates_tour.html">Somerset West Three Estates Tour</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="dropdown">-->
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"-->
                               <!--aria-haspopup="true"-->
                               <!--aria-expanded="false">Overnight Tours <span class="caret"></span></a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li><a href="{{ page.url | prepend: site.github.url }}whale_watching_overberg_to_hermanus_tour.html">Whale Watching Overberg to Hermanus Overnight Tour</a></li>-->
                                <!--<li><a href="{{ page.url | prepend: site.github.url }}west_coast_wild_flower_delights_tour.html">West Coast Wild Flower Delights Overnight Tour</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="dropdown">-->
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"-->
                               <!--aria-haspopup="true"-->
                               <!--aria-expanded="false">Special Interest <span class="caret"></span></a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li><a href="{{ page.url | prepend: site.github.url }}cape_winelands_architecture_arts_culture_tour.html">Cape Winelands Architecture, Arts and Culture Full Day Tour</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--&lt;!&ndash;<li><a href="https://docs.google.com/forms/d/1oBiKy6R40LPJrpnAVXPwzexvSjYPaqJZu3ntvObSUhw/viewform">Custom Tours</a></li>&ndash;&gt;-->
                        <!--<li><a href="{{ page.url | prepend: site.github.url }}your_guide.html">Your Guide</a></li>-->
                        <!--<li><a href="https://docs.google.com/forms/d/1oBiKy6R40LPJrpnAVXPwzexvSjYPaqJZu3ntvObSUhw/viewform">Contact</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<script>-->
        <!--$(document).ready(function () {-->
            <!--$('.dropdown-toggle').dropdown();-->
        <!--});-->
    <!--</script>-->
</header>
