<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Cape to Point</title>

    <!-- Icon -->
    <link rel="shortcut icon" href="{{ "/images/favicon.ico/" | absolute_url }}" type="image/x-icon">
    <link rel="icon" href="{{ "/images/favicon.ico/" | absolute_url }}" type="image/x-icon">

    <!-- Bootstrap -->
    <link href="{{ "/css/bootstrap.min.css" | absolute_url }}" rel="stylesheet">
    <link href="{{ "/css/style.css" | absolute_url }}" rel="stylesheet">
    <link href="{{ "/css/lightbox.min.css" | absolute_url }}" rel="stylesheet">
    <link  href="{{ "/css/font-awesome.min.css" | absolute_url }}" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ "/js/jquery-2.2.1.min.js" | absolute_url }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ "/js/bootstrap.min.js" | absolute_url }}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{ site.baseurl }}/js/html5shiv.min.js"></script>
    <script src="{{ site.baseurl }}/js/respond.min.js"></script>
    <![endif]-->
</head>
